@theme '~/.cache/wal/rofi-colors.rasi'

#window {{
    background-color: @background;
    border: 1px;
	border-color: @border-color;
	border-radius: 10px;
	padding: 20px;
}}

#mainbox {{
    border: 0;
}}

#textbox {{
	background-color: blue;
	text-color: @normal-background;
}}

#inputbar {{
    children:   [ entry, num-filtered-rows, textbox-divider, num-rows ];
	background-color: @input-bg-color;
    border: 1px;
    border-color: @border-color;
	border-radius: 10px;
    text-color: @normal-foreground;
    padding: 20px 30px;
}}

#num-filtered-rows {{
	text-color: @foreground;
}}

#textbox-divider {{
	expand: false;
	text-color: @foreground;
	str: "/";
}}

#num-rows {{
	text-color: @foreground;
}}

#entry {{
	text-color: @foreground;
	placeholder: "  Clipboard";	
	placeholder-color: @foreground;    
}}

#listview {{
	border: 0;
    fixed-height: 0;
    padding: 30px;
}}

#element {{
    border: 0;
  	border-radius: 10px; 
	padding: 5px;
}}

#element-text, element-icon {{
    background-color: inherit;
    text-color:       inherit;
}}

#element.normal.normal {{
    background-color: @normal-background;
    text-color: @normal-foreground;
}}

#element.normal.urgent {{
    background-color: @urgent-background;
    text-color: @urgent-foreground;
}}

#element.normal.active {{
    background-color: @active-background;
    text-color: @active-foreground;
}}

#element.selected.normal {{
    background-color: @selected-normal-background;
    text-color: @background;
}}

#element.selected.urgent {{
    background-color: @selected-urgent-background;
    text-color: @selected-urgent-foreground;
}}

#element.selected.active {{
    background-color: @selected-active-background;
    text-color: @selected-active-foreground;
}}

#element.alternate.normal {{
    background-color: @alternate-normal-background;
    text-color: @alternate-normal-foreground;
}}

#element.alternate.urgent {{
    background-color: @alternate-urgent-background;
    text-color: @alternate-urgent-foreground;
}}

#element.alternate.active {{
    background-color: @alternate-active-background;
    text-color: @alternate-active-foreground;
}}

#scrollbar {{
    width: 4px;
    border: 0;
	border-radius: 5px;
    handle-width: 4px;
    padding: 0;
	margin: 0px 0px 0px 10px;
}}

#sidebar {{
    border: 2px 0px 0px;
    border-color: @border-color;
}}

#button {{
    text-color: @normal-foreground;
}}

#button.selected {{
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}}

