@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px 0px ;
    margin:5px 0px 5px 10px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px 0px;
    margin:5px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px 0px;
    margin: 5px 10px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    border: 1px solid @foreground;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover,#pulseaudio:hover,#hyprland-language:hover,#custom-poweroff:hover{
    transition: all .3s ease;
    color:@color9;
}

.modules-right .module, .modules-left .module, .modules-center .module
{
    padding: 0px 7px;
    transition: all .3s ease; 
    color:@color7;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@foreground;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @foreground;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#group-expand-right,#group-expand-left{
    transition: all .3s ease; 
}
#custom-expand-left,#custom-expand-right{
    color:alpha(@foreground,.4);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand-left:hover,#custom-expand-right:hover{
    color:alpha(@foreground, .9);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-endpoint{
    color:@foreground;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray{
    padding: 0px 7px;
    transition: all .3s ease; 
}

